@model PersonalTVGuide.Models.Shoutbox
@{
    ViewBag.Title = "index";
}

<h2>index</h2>
@using (Html.BeginForm("Shoutbox", "Chat", FormMethod.Post))
{
   
    @Html.TextAreaFor(m => m.Text , new { cols = 25, @rows = 3 })
    
    <input type="submit" value="Verstuur" />
}